body{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
h1{
  font-size: 40px;
}
.orange-color{
  color: orange;
}
p{
  text-align: left 50px;
}
.cone{
  text-align: right 50px;
}
section{
  display: flex;
}
.half-width{
  width: 50%;
  padding-left: 5%;
}
.half-width img{
  width: 120%;
}
.link-botton{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
   padding: 10px 40px;
   border-radius: 5px;
   color: azure;
   font-weight: 700;
}